%a#requestControl{:href=>'#'} Request Control

#queued
  #div
    There are
    %span#queueLength
    users ahead of you.

  #div
    You will have control of Jingle Jaws in
    %span#queueTimeRemaining
    seconds.

#activated
  CHOMP! CHOMP! Fly that shark!
  %div
    Time's up in
    %span#active
    seconds.

  %div
    Drive controls:
    %a.control{:href=>'#'}


#expired
  Time's up!