#browserMsg use chrome or safari!
#content
  #swimmer
  #col-left.content-col
    %h2 take me for a spin!
    %input#userName(type="text")
    #enter.btn Enter Queue
    #statusMsg
      There are currently
      %span X
      guppies in the queue. Your approximate wait time is
      %span X:XX
  #col-mid.content-col
    #video-wrap
      -#%iframe#video(src="/cam_frame.html" frameborder="0" scrolling="no")
    #controls
      %a#rise.mini.ir rise
      %a#left.ir left
      %a#straight.ir straight
      %a#right.ir right
      %a#dive.mini.ir dive
  #col-right.content-col
    %h2 let me whisper sweet nothings in your ear!
    %textarea#userMsg
    #submitMsg.btn Speak
  %audio#theme