#browserMsg use Chrome or Safari
-#%a#foo testing
#content
  #col-left.content-col
    .h2
      %p take me for a spin!
      %input#user-name(type="text" value="name")
      %a#enter.btn(href="#") Enter Queue
      #statusMsg
        There are currently
        %span X
        guppies in the queue. Your approximate wait time is
        %span X:XX
  #col-mid.content-col
    #video-wrap
      %iframe#video(src="/cam_frame.html" frameborder="0" scrolling="no")
      -##video-frame
    #controls
      %a#rise.mini.ir(href="#") rise
      %a#left.ir(href="#") left
      %a#straight.ir(href="#") straight
      %a#right.ir(href="#") right
      %a#dive.mini.ir(href="#") dive
  #col-right.content-col
    .h2
      %p let me whisper sweet nothings in your ear!
      %textarea#user-msg your Valentine message
      %a#submit-msg.btn(href="#") Send
  %audio#theme
#swimmer
#overlay
  %span 10