/
  %a#requestControl{:href=>'#'} Request Control

  #queued.control-view
    %div
      There are
      %span#queueLength
      users ahead of you.

    %div
      You will have control of Jingle Jaws in
      %span#queueTimeRemaining
      seconds.

  #activated.control-view
    CHOMP! CHOMP! Fly that shark!
    %div
      Time's up in
      %span#active
      seconds.

    %div
      Drive controls:
      %a.control{:href=>'#'}


  #expired.control-view
    Time's up!


#content
  #col-mid.content-col
    #video-wrap
      #viewport
        %iframe#video(src="/cam_frame.html" frameborder="0" scrolling="no")
      #porthole
    #controls
      %a#rise.mini.ir rise
      %a#left.ir left
      %a#straight.ir straight
      %a#right.ir right
      %a#dive.mini.ir dive
  #col-left.content-col.intro left
  #col-right.content-col.intro right
  %audio#theme