/*mixins and shared values*/

@mixin JJbgImage($imageFile, $repeat: no-repeat) {
	display: block;
	background: transparent $imageFile $repeat 0 0;
}
@mixin rounded($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin flipHorizontal {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
$headerHeight: 197px;
$contentWidth: 997px;
$videoWrapWidth: 566px;

/*basic layout*/

#main-wrap {
	width: 100%;
	height: 100%;
	min-width: $contentWidth;
	min-height: 600px;
	position: relative;
	overflow: hidden;
	background: #d5e2f8 image-url("bg-main-grad.jpg") repeat-y center;
}
#header {
	width: 100%;
	height: $headerHeight;
	@include JJbgImage(image-url("bg-trees-tile.jpg"), repeat-x);
}
#content {
	width: 100%;
	height: 100%;
	position: relative;

	.content-col {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
	#col-left {
		width: 215px;
		left: 0;
		background-color: #666;
	}
	#col-mid {
		/*width: 100%;*/
		height: 100%;
		top: -140;
	}
	#col-right {
		width: 215px;
		right: 0;
		background-color: #666;
	}
}

/*some default states*/

/*#video-wrap {*/
	/*visibility: hidden;*/
/*}*/

/*main moving elements*/

#tank {
	$sharkHeight: 326px;
	width: 100%;
	height: $sharkHeight;
	position: absolute;
	bottom: 0;
	z-index: 1;

	#shark {
		width: 257px;
		height: $sharkHeight;
		margin: 0 auto;
		@include JJbgImage(image-url("img-bruce.png"));
		background-size: contain;
	}
}
#logo-wrap {
	display: block;
	width: 650px;
	height: 123px;
	margin:  0 auto;
	position: relative;
	top: 21px;

	#logo-jaws {
		width: 50%;
		height: 80%;
		position: absolute;
		right: 23%;
		bottom: 0;
		@include JJbgImage(image-url("txt-jaws.png"));
		background-size: contain;
	}
	#logo-jingle {
		width: 46%;
		height: 75%;
		position: absolute;
		left: 0;
		top: 0;
		@include JJbgImage(image-url("txt-jingle.png"));
		background-size: contain;
	}
}
#ticker {
	width: 100%;
	height: 45px;
	position: absolute;
	top: $headerHeight - 20px;
	overflow: hidden;
	z-index: 2;

	#sleigh {
		position: absolute;
		width: 150px;
		height: 45px;
		@include JJbgImage(image-url("img-sleigh-ltr.png"));
	}

	#sleigh.flip {
		@include JJbgImage(image-url("img-sleigh-rtl.png"));
		width: auto;
		padding-left: 150px;

		#ticker-content {
			height: 15px;
			padding-top:10px;
			overflow: hidden;
			font: normal 15px/15px Arial;
		}
	}
}

/*content state (everything except splash)*/


	#video-wrap {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;

		#viewport {
			position: absolute;
			overflow: hidden;
			@include rounded(50%);

			video {
				width: 100%;
				height: 75%;
				position: relative;
			}
		}
		#porthole {
			margin: 0 auto;
			position: relative;
			top: 0;
			@include JJbgImage(image-url("bg-porthole.png"));
			background-size: 100% 200%;
		}
	}
	#controls {
		width: 457px;
		height: 133px;
		margin: 0 auto;
		position: relative;
		top: -145px;
		z-index: 1225;

		a {
			width: 102px;
			height: 109px;
			float: left;
			@include JJbgImage(image-url("img-controls-active.png"));
			cursor: pointer;

			&:hover {
				background-image: image-url("img-controls-hover.png");
			}
		}
		a.mini {
			width: 73px;
			height: 75px;
			margin-top: 16px;
		}
		#rise {
			background-position: -2px -16px;
		}
		#left {
			background-position: -74px 0;
		}
		#straight {
			background-position: -178px 0;
		}
		#right {
			background-position: -282px 0;
		}
		#dive {
			background-position: -386px -16px;
		}

}


