/*mixins and shared values*/

@mixin JJbgImage($imageFile, $repeat: no-repeat) {
	display: block;
	background: transparent $imageFile $repeat 0 0;
}
$headerHeight: 197px;

/*basic layout*/

#main-wrap {
	width: 100%;
	height: 100%;
	min-height: 600px;
	position: relative;
	overflow: hidden;
	background: #d5e2f8 image-url("bg-main-grad.jpg") repeat-y center;
}
#header {
	width: 100%;
	height: $headerHeight;
	@include JJbgImage(image-url("bg-trees-tile.jpg"), repeat-x);
}

/*some default states*/

#video-wrap {
	display: none;
}

/*main moving elements*/

#tank {
	$sharkHeight: 326px;
	width: 100%;
	height: $sharkHeight;
	position: absolute;
	bottom: 0;

	#shark {
		width: 257px;
		height: $sharkHeight;
		margin: 0 auto;
		@include JJbgImage(image-url("img-bruce.png"));
		background-size: contain;
	}
}
#logo-wrap {
	display: block;
	width: 650px;
	height: 123px;
	margin:  0 auto;
	position: relative;
	top: 21px;

	#logo-jaws {
		width: 50%;
		height: 80%;
		position: absolute;
		right: 23%;
		bottom: 0;
		@include JJbgImage(image-url("txt-jaws.png"));
		background-size: contain;
	}
	#logo-jingle {
		width: 46%;
		height: 75%;
		position: absolute;
		left: 0;
		top: 0;
		@include JJbgImage(image-url("txt-jingle.png"));
		background-size: contain;
	}
}
#ticker {
	width: 100%;
	position: absolute;
	top: $headerHeight - 20px;

	#sleigh {
		width: 150px;
		height: 45px;
		margin: 0 auto;
		@include JJbgImage(image-url("img-sleigh-ltr.png"));
	}
}

/*content state (everything except splash)*/

#main-wrap.content-state {
	$sharkHeight: 160px;
	$sharkWidth: 160px;
	$sharkLeftMargin: 102px;
	#header {
		height: $headerHeight - 40px;
		background-position: 0 -40px;
	}
	#logo-wrap {
		width: 390px;
		margin: 0 102px;
	}
	#tank {
		height: $sharkHeight;

		#shark {
			height: $sharkHeight;
			width: $sharkWidth;
			margin: 0 0 0 $sharkLeftMargin;
		}
	}
	#ticker {
		width: 80%;
		top: auto;
		bottom: 10px;
		left: $sharkWidth + $sharkLeftMargin;
	}
	#sleigh {
		margin: 0;
	}
	#video-wrap {
		display: block;
	}

}

#controls {
	width: 457px;
	height: 133px;

	a {
		width: 102px;
		height: 109px;
		float: left;
		@include JJbgImage(image-url("img-controls-active.png"));
		cursor: pointer;

		&:hover {
			background-image: image-url("img-controls-hover.png");
		}
	}
	a.mini {
		width: 73px;
		height: 75px;
		margin-top: 16px;
	}
	#rise {
		background-position: -2px -16px;
	}
	#left {
		background-position: -74px 0;
	}
	#straight {
		background-position: -178px 0;
	}
	#right {
		background-position: -282px 0;
	}
	#dive {
		background-position: -386px -16px;
	}
}