/* table of contents
fonts
keyframe animations
mixins
variables
basic layout and UI elements
intro sequence
*/


/*fonts*/

@font-face {
    font-family: 'BallparkWeiner';
    src: url('/fonts/ballpark_weiner-webfont.eot');
    src: url('/fonts/ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ballpark_weiner-webfont.woff') format('woff'),
    url('/fonts/ballpark_weiner-webfont.ttf') format('truetype'),
    url('/fonts/ballpark_weiner-webfont.svg#BallparkWeiner') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'DynalightRegular';
    src: url('/fonts/Dynalight-Regular-webfont.eot');
    src: url('/fonts/Dynalight-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Dynalight-Regular-webfont.woff') format('woff'),
    url('/fonts/Dynalight-Regular-webfont.ttf') format('truetype'),
    url('/fonts/Dynalight-Regular-webfont.svg#DynalightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*keyframe animations*/
@-webkit-keyframes timer {
    100% {foo: bar;}
}

@-webkit-keyframes swim {
    0% {width: 997px; opacity: 0;}
    20% {opacity: 1;}
    100% {width: 225px; opacity: 1;}
}

@-webkit-keyframes blink {
    0% {color: transparent;}
    50% {color: red;}
    100% {color: transparent;}
}

/*mixins*/

@mixin JJbgImage($imageFile, $repeat: no-repeat) {
	display: block;
	background: transparent $imageFile $repeat 0 0;
}

/*variables*/

$animationFactor: 1;
$headerHeight: 197px;
$contentWidth: 997px;
$videoWrapWidth: 566px;

/* this also gets different values in different contexts */
$animationDuration: 1s;

/* basic layout and UI elements */
body {
	background-color: #000;
}

#main-wrap {
	display: block;
	width: 100%;
	height: 100%;
	min-width: $contentWidth;
	min-height: 600px;
	position: relative;
	overflow: hidden;
    background: #000;
}
#main-wrap #header {
	width: 100%;
	height: $headerHeight;
	@include JJbgImage(image-url("moon-top.png"));
	background-position: center bottom;
}
#main-wrap #content {
	width: 100%;
	height: 100%;
	position: relative;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background-color: #072a3e;
    background-image: image-url("moon-bottom.png"), image-url("bg-main-grad.jpg");
    background-repeat: no-repeat, repeat-x;
    background-position: center top, center top;

	.content-col {
		/*position: relative;*/
	}
	#col-left, #col-right {
        width: 240px;
        padding: 15px 30px;
        text-align: center;
	}
	#col-mid {
        width: 397px;
        -webkit-box-flex: 1;
	}
    .h2 {
        width: 200px;
        margin: 25px auto;
        border-radius: 1px;
        box-shadow: 0 0 16px 16px pink;
        background-color: pink;
        color: #000;
        
            p {
                margin: 0 0 10px;
                font: normal 34px/28px DynalightRegular;
            }

        input, textarea {
            width: 100%;
            border: solid 6px pink;
            -webkit-border-radius: 4px;
            font: bold italic 24px/30px Times, serif;
            color: #999;
            text-align: center;

            &.active {
                color: #000;
            }
        }
        input {
            height: 45px;
            padding: 6px;

        }
        textarea {
            height: 120px;
            padding: 5px;
        }
        .btn {
            display: block;
            margin: 10px auto;
            border-radius: 18px;
            background: #000;
            box-shadow: 3px 3px 10px black;
            font: normal 25px/34px DynalightRegular;
            color: #fff;
            text-align: center;
            cursor: pointer;

            &.active {
                background: red;
            }
        }
        #enter {
            width: 130px;
            height: 34px;
        }
        #submit-msg {
            width: 79px;
            height: 34px;
        }
        #statusMsg {
            font: normal 14px/18px Arial, sans-serif;

                span {
                    font-weight: bold;
                    font-size: 1.2em;
                    color: red;
                }
        }
    }
}

#main-wrap #browserMsg {
    display: none;
    margin: 0 auto;
    font: normal 24px DynalightRegular, Times, serif;
    color: #ffc0cb;
    text-align: center;
}

#tank {
	width: 20%;
	height: 24%;
	position: absolute;
	bottom: 0;
    left: 2%;
	z-index: 1;
    -webkit-transition-property: all;
    -webkit-transition-duration: $animationDuration;
    -webkit-animation-timing-function: linear;

	#shark {
        width: 100%;
		height: 100%;
        background: transparent image-url("img-bruce-theme.png") no-repeat bottom;
        background-size: contain;
	}
}
#logo-wrap {
	display: block;
	width: 20%;
	height: 80%;
	position: relative;
    top: 10%;
    left: 20px;
    -webkit-transition-property: all;
    -webkit-transition-duration: $animationDuration;
    -webkit-animation-timing-function: linear;

	#logo-jaws {
		width: 100%;
		height: 100%;
        margin: 0 auto 0;
		position: relative;
		@include JJbgImage(image-url("txt-jaws.png"));
		background-size: contain;
        background-position: center;
	}
	#logo-theme {
        width: 120%;
		height: 75%;
        margin: 0 auto;
		position: relative;
		top: -40%;
        font: normal 36px BallparkWeiner, serif;
        color: #ff99ff;
        -webkit-transform: rotate(-14deg);
        text-align: right;
        text-shadow: -6px 3px 3px #000;
	}
}

#swimmer {
    position: relative;
    top: -100%;
    width: 225px;
    height: 64px;
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: image-url("img-swimmer-male.png"), image-url("img-swimmer-female.png");
    background-position: top left, top right;
}

#video-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 70px;
    background-color: transparent;

    #video {
        width: 100%;
        height: 100%;
        position: relative;
        border: none;
        -webkit-mask-box-image: image-url("mask-heart.png");
    }

    #video-frame {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent image-url("heart-frame.png") no-repeat 0 0;
        background-size: 100%;
    }
}
#controls {
    width: 457px;
    height: 133px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    z-index: 10;

    a {
        width: 102px;
        height: 109px;
        float: left;
        @include JJbgImage(image-url("img-controls-active.png"));
        cursor: pointer;

        &:hover {
            background: transparent image-url("img-controls-hover.png") no-repeat 0 0;
        }
    }
    a.mini {
        width: 73px;
        height: 75px;
        margin-top: 16px;
    }
    #rise {
        background-position: -2px -16px;
    }
    #left {
        background-position: -74px 0;
    }
    #straight {
        background-position: -178px 0;
    }
    #right {
        background-position: -282px 0;
    }
    #dive {
        background-position: -386px -16px;
    }

}

#overlay {
    height: 100%;
    width: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    font: bold 400px Arial, sans-serif;
    color: #000;
    text-align: center;
    z-index: 20;

    &.active {
        display: block;
    }

        &.blink

            span {
                -webkit-animation-name: blink;
                -webkit-animation-duration: 300ms;
                -webkit-animation-iteration-count: infinite;
            }
}


/*intro sequence*/

#main-wrap.default {

    $animationDuration: 10s;

    #header {
        /*opacity: 0;*/
        background: #000 none center bottom;
        -webkit-transition-property: background-color;
        -webkit-transition-duration: $animationDuration;
        -webkit-animation-timing-function: linear;
    }

    #content {
        opacity: 0;
        -webkit-transition-property: opacity;
        -webkit-transition-duration: $animationDuration;
        -webkit-animation-timing-function: linear;
    }
    /*#header {*/
        /*background: #fff none center bottom;*/
    /*}*/
    #swimmer {
        width: 100%;
        opacity: 0;
    }
    .content-col {
        display: none;
    }
    #tank {
        display: none;
    }
    #logo-wrap {
        height: 0;
        width: 100%;
        left: auto;
    }
    #logo-theme {
        display: none;
    }

    &.no-support {
        #browserMsg {
            display: block;
        }
    }

    &.loading {
        background: #000 image-url("ajax-loader.gif") no-repeat 50% 50%;
    }

    &.intro {

        $animationDuration: 5s;

        -webkit-animation-name: timer;
        -webkit-animation-duration: $animationDuration;

        #header {
            /*opacity: 1;*/
            background-color: #fff;
        }

        #logo-wrap {
            -webkit-transition-property: all;
            -webkit-transition-duration: $animationDuration;
            -webkit-animation-timing-function: linear;
        }
        
        #content {
            opacity: 1;
            background-image: image-url("bg-main-grad.jpg");
            background-repeat: repeat-x;
            background-position: center top;
        }

        #tank {
            display: block;
            width: 100%;
            height: 60%;
            left: auto;
            bottom: -60%;
            -webkit-transition-property: all;
            -webkit-transition-duration: $animationDuration;
            -webkit-animation-timing-function: linear;
        }

        &.splash {

            $animationDuration: 3s;

            -webkit-animation-name: timer;
            -webkit-animation-duration: $animationDuration;

            #tank {
                display: block;
                width: 100%;
                height: 60%;
                left: auto;
                bottom: 0;
            }
            #shark {
                background-image: image-url("img-bruce.png");
            }
            #logo-wrap {
                height: 80%;
            }

            &.add-theme {

                $animationDuration: 0;

                -webkit-animation-name: timer;
                -webkit-animation-duration: 2s;

                #header {
                    background: #000 image-url("moon-top.png") no-repeat center bottom;
                    -webkit-transition-duration: $animationDuration;
                }
                #logo-theme {
                    display: block;
                    width: 39%;
                    height: 75%;
                    margin: 0 auto;
                    position: relative;
                    top: -25%;
                    font: normal 64px BallparkWeiner, serif;
                }
                #content {
                    background-image: image-url("moon-bottom.png"), image-url("bg-main-grad.jpg");
                    background-repeat: no-repeat, repeat-x;
                    background-position: center top, center top;
                    -webkit-transition-duration: $animationDuration;
                }
                #shark {
                    background-image: image-url("img-bruce-theme.png");
                }
                #swimmer {
                    -webkit-animation-name: swim;
                    -webkit-animation-duration: 5s;
                    -webkit-animation-fill-mode: forwards;
                }

            } /* end .add-theme */

        } /* end .splash */

    } /* .intro */

} /* end main-wrap.default */

